.popup__input{
    width: 238px;
    outline-width: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 30px;
    padding: 0 0 11px;
}

@media screen and (min-width:768px) {
    .popup__input{
        width: 358px;
    }
}
