.profile{
    width: calc(100% - 38px);
    margin: 49px auto 0;
    min-width: 282px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    .profile{
        flex-direction: row;
        align-items: center;
        margin: 40px auto 0;
        max-width: 880px;
    }
}
@media screen and (min-width:917px) {
    .profile{
        max-width: 880px;
    }
}
