.popup__button-save{
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background-color: black;
    color: #FFFFFF;
    margin: 15px auto 0;
    width: 238px;
    height: 46px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 0.3s linear;
    margin-bottom: 25px;
}

.popup__button-save:hover{
    opacity: 0.8;
}

@media screen and (min-width:768px) {
    .popup__button-save{
        margin: 18px auto 37px;
        width: 358px;
        font-size: 18px;
    }
}