.popup__container{
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .popup__container{
        width: 462px;
    }
}
