.popup__input-error{
    width: 100%;
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 32px;
    visibility: hidden;
}