.content{
    min-height: calc(100vh - 303px);
}

@media screen and (max-width:917px) {
    .content{
        min-height: calc(100vh - 222px);
    }
}

@media screen and (max-width:870px) {
    .content{
        min-height: calc(100vh - 222px);
    }
}

@media screen and (max-width:768px) {
    .content{
        min-height: calc(100vh - 235px);
    }
}