.card__like-counter{
    padding: 0;
    margin: 3px 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}